:root {
  --mint: #c5f2d3;
  --french-gray: #abaab5;
  --dark-gray: #575757;
  --white: #fbfbfe;
  --platinum: #dfdee4;
}
body {
  background-color: var(--white);
}

.titleBox {
  position: relative;
  width: 105vw;
  margin-top: -10px;
  margin-left: -7px;
  height: 55px;

  box-shadow: 0 5px 5px var(--platinum);
  background-color: var(--white);
}

.title {
  margin-top: -52px;

  color: black;
  text-shadow: 0 3px 3px var(--platinum);
  font-size: 25px;
  font-family: "Pt Sans Narrow";
  letter-spacing: 6px;
  text-align: center;
}

.logo {
  display: flex;
  background: none;
  cursor: pointer;
}

.row {
  margin-left: calc(100vw - 50% - 237px);
  margin-top: 50px;
}

.column {
  float: left;
  padding: 5px;
}

.column img {
  opacity: 0.6;
  transition: opacity 0.25s, max-height 0.25s;
  max-height: 75px;
  width: 75px;
  object-fit: cover;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
  max-height: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  display: none;
  margin-left: calc(100vw - 50% - 232px);
}

#imgtxt {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.sidenav {
  position: fixed;
  z-index: 99;
  width: 0;
  height: 100vw;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: rgba(223, 222, 228, 0.44);
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.25s;
  font-family: "PT Sans Narrow", sans-serif;
}

.sidenav a:hover {
  padding: 10px;
  border-radius: 0px 10px 0 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}

.menu {
  position: relative;
  left: 22px;
  top: 7px;
}

.menu:hover {
  color: var(--dark-gray);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.icon {
  position: relative;
  top: -30px;
  left: 100px;
}
