:root {
  --periwinkle: #cac5e6;
  --french-gray: #abaab5;
  --white: #fbfbfe;
  --platinum: #dfdee4;
}
body {
  background-color: #dbdbdb;
}
.title {
  display: flex;
  position: relative;
  min-width: auto;
  height: 60px;

  justify-content: space-evenly;
  justify-content: center;
  color: black;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;

  background-color: var(--platinum);
  border-radius: 15px;
  margin-bottom: 5px;
}

.logo {
  border: none;
  background: none;
  cursor: pointer;
}

.welcome {
  display: flex;
  position: relative;
  width: fit-content;
  margin-left: 50%;
  left: -400px;
  font-size: 200%;
}

.row {
  margin-top: 20%;
  margin-left: auto;
}

.column {
  float: right;
  padding: 10px;
}

.column img {
  opacity: 0.6;
  transition: opacity 0.25s;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  display: none;
}

#imgtxt {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.44);
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  font-family: "PT Sans Narrow", sans-serif;
}

.sidenav a:hover {
  padding: 10px;
  background-color: #3a5a40;
  border-radius: 0px 10px 0 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.icon {
  position: relative;
  top: -30px;
  left: 100px;
}
