body {
  background-color: #000;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  height: 500px;
  align-items: center;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;

  position: relative;
  top: 300px;
  width: 1500px;
}

.card {
  height: 500px;
  margin: 100px;
  width: 50vh;
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;
  top: 0px;
  border-radius: 10px;
  border: 3px solid #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
.word0 {
  transition: 0.3s;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin: 30px;
  font-size: 30px;
  transform: scale(0.7);
}
.word1 {
  transition: 0.3s;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin: 30px;
  font-size: 30px;
  transform: scale(0.7);
}
.word2 {
  transition: 0.3s;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin: 30px;
  font-size: 30px;
  transform: scale(0.7);
}
.word3 {
  transition: 0.3s;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin: 30px;
  font-size: 30px;
  transform: scale(0.7);
  position: relative;
  top: 20px;
}
.word4 {
  transition: 0.3s;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin: 30px;
  font-size: 30px;
  transform: scale(0.7);
}
.word5 {
  transition: 0.3s;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin: 30px;
  font-size: 30px;
  transform: scale(0.7);
}
.word6 {
  transition: 0.3s;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin: 30px;
  font-size: 30px;
  transform: scale(0.7);
}
:last-child:after {
  content: "";
  width: 20px;
  position: absolute;
  height: 100%;
  right: -6vw;
  top: 0;
}
img {
  max-width: 70%;
  max-height: 50vh;
  margin: auto;
  display: block;
  transition: 0.35s;
  transform: rotate(6deg) translate3d(0, 40px) scale(0.6);
  position: relative;
  top: 30px;
  left: 5px;
}

.card-title {
  opacity: 1;
  transform: none;
  transition-delay: 0.1s;
}

:first-child {
  margin-left: 100;
}

.title {
  color: white;
  display: flex;
  position: relative;
  bottom: 100px;
  margin-left: -7px;
  height: 55px;
  font-size: 25px;
  font-family: "Pt Sans Narrow";
  letter-spacing: 6px;
  width: 50px;
  position: relative;
  left: 60px;
  background-color: aquamarine;
  height: 55px;
}
.title1 {
  position: relative;
  left: 100px;
}
